.scoreboard-div{
    width: 311px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border: 2px solid #8f8f8fa6;
    border-radius: 15px;
    padding: 1rem;
}

.logo{
    width: auto;
    height: 100%;
}