@import "../../styles.scss";

.scoreboard-div{
    width: 400px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border: 2px solid #8f8f8fa6;
    border-radius: 15px;
    padding: 1rem;

    
    @media (min-width: $laptop) {
        width: 700px;
    }
}

.logo{
    width: auto;
    height: 100%;
}

.score{
    height: 72px;
    width: 80px;
    background-color: $text;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;

}

.score-title{
    font-size: 12px;
    font-weight: 700;
    color: #070d64a6;
}

.score-number{
    font-size: 30px;
    font-weight: 700;
}