@import "../../styles.scss";

:host {
    @extend .option-outside-div; 
}

.option-outside-div{
    padding: 14px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
        
@media (min-width: $laptop) {
        width: 150px;
        height: 150px;
        padding: 20px; 
    }

&.rock {
    background-color: $color-rock;
    box-shadow: 0px 7px 1px #9D1634;
}

&.paper {
    background-color: $color-paper;
    box-shadow: 0px 7px 1px #2A45C2;
}

&.scissors {
    background-color: $color-scissors;
    box-shadow: 0px 7px 1px #C76C1B;
}

&.lizard{
    background-color: $color-lizard;
    box-shadow: 0px 7px 1px #5F37A8;
}

&.spock{
    background-color: $color-spock;
    box-shadow: 0px 7px 1px #2D8DAB;
}

}

.option-div {
    width: 100%;
    height: 100%;
    background-color: white; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -5px 1px #00000021;
}

