@import "../../styles.scss";

.hex-container{
    position: relative;
    margin-top: 8rem;
    width: 350px;
    height: 400px;
    background-image: url("../../../public/assets/images/bg-pentagon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media (min-width: $laptop) {
        width: 450px;
        height: 450px;
    }
}

.hex-btn {
  position: absolute;
  width: 227px;
  height: 227px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.pos-rock { 
  top: 75%; 
  left: 60%; 
  transform: translate(0%, 0%); 

  @media (min-width: $laptop) {
        top: 75%;
        left: 60%; 
    }
}

.pos-paper { 
  top: 23%; 
  right: -45%; 
  transform: translate(0%, 0%); 

  
  @media (min-width: $laptop) {
        top: 20%;
        right: -30%; 
    }
}

.pos-scissors { 
  top: 15%; 
  left: 50%; 
  transform: translate(-25%, -35%); 

    @media (min-width: $laptop) {
        left: 45%;
        top: 5%;
    }
}

.pos-lizard { 
  top: 75%; 
  right: 35%; 
  transform: translate(0%, 0%); 

  @media (min-width: $laptop) {
        top: 75%;
        right: 50%; 
    }
}

.pos-spock { 
  top: 23%; 
  left: -15%; 
  transform: translate(0%, 0%);

  @media (min-width: $laptop) {
        right: 40%; 
    }
}