<div class="hex-container">
  <app-option 
    class="hex-btn pos1 rock"
    [name]="'rock'"
    [color]="'rock'"
    [imageUrl]="'assets/images/icon-rock.svg'">
  </app-option>
  <app-option 
  class="hex-btn pos2"
  [name]="'paper'"
  [color]="'paper'"
  [imageUrl]="'assets/images/icon-paper.svg'"
  ></app-option>
  <app-option 
  class="hex-btn pos3"
  [name]="'scissors'"
  [color]="'scissors'"
  [imageUrl]="'assets/images/icon-scissors.svg'"
  ></app-option>
  <app-option 
  class="hex-btn pos4"
  [name]="'lizard'"
  [color]="'lizard'"
  [imageUrl]="'assets/images/icon-lizard.svg'"
  ></app-option>
  <app-option 
  class="hex-btn pos5"
  [name]="'spock'"
  [color]="'spock'"
  [imageUrl]="'assets/images/icon-spock.svg'"
  ></app-option>
</div>
