@import "../../styles.scss";

.hex-container{
    margin-top: 8rem;
    width: 311px;
    height: 305px;
    background-image: url("../../../public/assets/images/bg-pentagon.svg");
    background-position: center;
    background-size: cover;
}