@import "../../styles.scss";

.hex-container{
    position: relative;
    margin-top: 8rem;
    width: 350px;
    height: 400px;
    background-image: url("../../../public/assets/images/bg-pentagon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;

    @media (min-width: $laptop) {
        width: 450px;
        height: 450px;
    }
}

.hex-btn {
  position: absolute;
  width: 227px;
  height: 227px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.pos-rock { 
  top: 60%; 
  left: 50%; 

  @media (min-width: $laptop) {
        top: 70%;
        left: 55%; 
    }
}

.pos-paper { 
  top: 10%; 
  left: 60%; 

  
  @media (min-width: $laptop) {
        top: 15%;
        left: 70%; 
    }
}

.pos-scissors { 
  top: -20%; 
  left: 20%; 

    @media (min-width: $laptop) {
        top: -20%;
        left: 25%;
    }
}

.pos-lizard { 
  top: 60%; 
  right: 45%; 

  @media (min-width: $laptop) {
        top: 70%;
        right: 55%;
    }
}

.pos-spock { 
  top: 10%; 
  left: -25%; 

  @media (min-width: $laptop) {
        top: 15%;
        left: -20%;
    }
}